<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >  
        <style>
            h1 {
                margin-top: 570px;
            }
        </style>
    </head>

    <body>
        <header>
            <div id="logo">
                <a href= <%= '/?table='+tableNum %> ><img src="images/logo.jpg" width=288%></img></a>
            </div>
            <div id="cart">
                <a href= <%= '/cart?table='+tableNum %> ><img src="images/cart.png" width=98%></img></a>
            </div>
            <nav>
                <div class="button"><a href= <%= '/beverages?table='+tableNum %> ><img src="images/iconBeverages.png" width=125%></img></a><p id="navB">Beverages</p></div>
                <div class="button"><a href= <%= '/appetizers?table='+tableNum %> ><img src="images/iconAppetizer.png" width=125%></img></a><p id="navA">Appetizers</p></div>
                <div class="button"><a href= <%= '/entrees?table='+tableNum %> ><img src="images/iconEntree.png" width=125%></img></a><p id="navE">Entrées</p></div>
                <div class="button"><a href= <%= '/desserts?table='+tableNum %> ><img src="images/iconDessert.png" width=125%></img></a><p id="navD">Desserts</p></div>
                <input id="searchBar" type="text" placeholder="Search" onkeyup="searchItem()"><i class="fa fa-search" style="font-size:40px"></i>

            </nav>
        </header> 

        <main>
            <div id="selScroll">
            </div>
            <div id="itemBox">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" id="itemPic"></img>
                <p id="itemName"></p>
                <p id="itemDesc"></p>

                <div id="addToCart">
                    <p id="itemPrice"></p>
                    <div id="minusToCartBut">-</div><p id="itemAmount"></p><div id="addToCartBut">+</div>
                    <div id="addToCartButton">Add to cart</div>
                </div>
            </div>
        </main>
        
        <h1 id="pop">Popular</h1>
        <main id="popular">
            <div id="pop1"></div>
            <div id="pop2"></div>
            <div id="pop3"></div>
            <div id="pop4"></div>
        </main>
        
        <script src="script.js"></script>
    </body>
</html>