<html>
    <head>
        <link rel="stylesheet" href="kitchen.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    </head>

    <body>
        <header>
            <div id="logo">
                <a href='/'><img id="logo" src="images/logo.jpg" width=150%></img></a>
            </div>
            <h1>Kitchen View</h1>
            <nav>
                <a href=''>All</a>
                <a href='#open'>Open</a>
                <a href='#done'>Done</a>
            </nav>
        </header>

        <div id="tickets">
            <% if (tableOrder.length > 0) { %>
                <%  tableOrder.forEach((order, i) => { %>
                    <div class="ticketBox">
                        <div class="ticketHead" onclick="completeOrder(<%- i %>)">
                            <span><p id="tableTitle">Table <%= order.tableNum %></p>

                            <% var now = new Date(); %>
                            <% var timeDiff = (now-order.createdAt) %>
                            <% var seconds = Math.floor(timeDiff/1000 % 60) %>
                            <% var secondsStr = seconds < 10 ? "0" + seconds : seconds %>
                            <% var minutes = Math.floor(timeDiff/1000/60 % 60) %>
                            <% var minutesStr = minutes < 10 ? "0" + minutes : minutes %>
                            <% var hours = Math.floor(timeDiff/1000/60/60 % 24) %>
                            <% var hoursStr = hours < 10 ? "0" + hours : hours %>

                            <% if (hoursStr === "00") { %>
                                <p id="timeElap"><%= minutesStr + ":" + secondsStr %></p>
                            <% } else { %>
                                <p id="timeElap"><%= hoursStr + ":" + minutesStr + ":" + secondsStr %></p>
                            <% } %>
                            </span>
                        </div>
                        <div id="tableOrder"><%- order.order.replace(/,/g, '<hr>') %></div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </body>
</html>